<div class="tab-pane fade" id="profile" role="tabpanel"
	aria-labelledby="profile-tab">
	<div class="container p-0 d-flex">
		<div class="w-100 width-phone mx-auto sub-container-table">
			<!-----------HEADER SECTION--------------->
			<div class="heading text-center bg-light">
				<div class="column"></div>
				<div class="column p-3 p-md-5">
					<h6 class="font-weight-bold h5"> PACK STANDARD </h6>
					<p>Assistance prioritaire</p>
					<div>
						<!--?xml version="1.0" encoding="utf-8"?-->
						<!-- License: MIT. Made by Jackhenry Design: https://github.com/Banno/jha-design -->
						<svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="40px"
							height="40px" viewBox="0 0 24 24">
                			<path d="M23 13H2v-2h21v2z"></path>
              			</svg>
					</div>
					<div class="align-items-center d-flex font-weight-bold justify-content-center price">
						<div class="h2 line-height-1 m-0 pr-2">39</div>
						<div class="line-height-1">
							<div>99 €</div>
							<div>/mois</div>
						</div>
					</div>
				</div>				
			</div>
			<!--------END OF HEADER SECTION--->

			<!----------TABLE ROW------------->
			<!--  -->
			<div class="table-row text-dark">
				<div class="column px-2">
					<div class="d-flex justify-content-between align-items-center">
						<p>Paiements en ligne (CB, Paypal, Paiement en 2 tranches)</p>
						<p title="Creer votre site a  votre convenance">
							<!--?xml version="1.0" encoding="utf-8"?-->
							<!-- License: MIT. Made by Shopify: https://github.com/Shopify/polaris -->
							<svg width="20px" height="20px" viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg">
                  <path
									d="M11 12H9v-.148c0-.876.306-1.499 1-1.852.385-.195 1-.568 1-1a1.001 1.001 0 00-2 0H7c0-1.654 1.346-3 3-3s3 1 3 3-2 2.165-2 3zm-2 3h2v-2H9v2z"
									fill="#5C5F62"></path>
                  <path
									d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1116 0 8 8 0 01-16 0z"
									fill="#5C5F62"></path>
                </svg>
						</p>
					</div>
				</div>
				<div class="column text-center pt-4">
					<svg width="20px" height="20px" viewBox="0 0 16 16"
						xmlns="http://www.w3.org/2000/svg" version="1.1" fill="none"
						stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
						stroke-width="1.5">
              			<polyline points="2.75 8.75,6.25 12.25,13.25 4.75"></polyline>
            		</svg>
				</div>
			</div>
			<div class="table-row text-dark">
				<div class="column px-2">
					<div class="d-flex justify-content-between align-items-center">
						<p>Domaine personnalisé</p>
						<p title="Gérez et développez votre activité en ligne.">
							<!--?xml version="1.0" encoding="utf-8"?-->
							<!-- License: MIT. Made by Shopify: https://github.com/Shopify/polaris -->
							<svg width="20px" height="20px" viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg">
                  <path
									d="M11 12H9v-.148c0-.876.306-1.499 1-1.852.385-.195 1-.568 1-1a1.001 1.001 0 00-2 0H7c0-1.654 1.346-3 3-3s3 1 3 3-2 2.165-2 3zm-2 3h2v-2H9v2z"
									fill="#5C5F62"></path>
                  <path
									d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1116 0 8 8 0 01-16 0z"
									fill="#5C5F62"></path>
                </svg>
						</p>
					</div>
				</div>
				<div class="column text-center pt-4">
					<!--?xml version="1.0" encoding="utf-8"?-->
					<!-- License: MIT. Made by jaynewey: https://github.com/jaynewey/charm-icons -->
					<svg width="20px" height="20px" viewBox="0 0 16 16"
						xmlns="http://www.w3.org/2000/svg" version="1.1" fill="none"
						stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
						stroke-width="1.5">
              <polyline points="2.75 8.75,6.25 12.25,13.25 4.75"></polyline>
            </svg>
				</div>
				
				
			</div>
			<!---------table-row---------->
			<div class="table-row text-dark">
				<div class="column px-2">
					<div class="d-flex justify-content-between align-items-center">
						<p>Domaine gratuit pendant un an</p>
						<p title="Creer votre site a  votre convenance">
							<!--?xml version="1.0" encoding="utf-8"?-->
							<!-- License: MIT. Made by Shopify: https://github.com/Shopify/polaris -->
							<svg width="20px" height="20px" viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg">
                  <path
									d="M11 12H9v-.148c0-.876.306-1.499 1-1.852.385-.195 1-.568 1-1a1.001 1.001 0 00-2 0H7c0-1.654 1.346-3 3-3s3 1 3 3-2 2.165-2 3zm-2 3h2v-2H9v2z"
									fill="#5C5F62"></path>
                  <path
									d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1116 0 8 8 0 01-16 0z"
									fill="#5C5F62"></path>
                </svg>
						</p>
					</div>
				</div>
				<div class="column text-center py-4">
					<!--?xml version="1.0" encoding="utf-8"?-->
					<!-- License: MIT. Made by jaynewey: https://github.com/jaynewey/charm-icons -->
					<svg width="20px" height="20px" viewBox="0 0 16 16"
						xmlns="http://www.w3.org/2000/svg" version="1.1" fill="none"
						stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
						stroke-width="1.5">
              <polyline points="2.75 8.75,6.25 12.25,13.25 4.75"></polyline>
            </svg>
				</div>
				
				
			</div>

			<!------------TABLE-ROW------------------>
			<div class="table-row text-dark">
				<div class="column px-2">
					<div class="d-flex justify-content-between align-items-center">
						<p>Certificat SSL gratuit</p>
						<p title="Creer votre site a  votre convenance">
							<!--?xml version="1.0" encoding="utf-8"?-->
							<!-- License: MIT. Made by Shopify: https://github.com/Shopify/polaris -->
							<svg width="20px" height="20px" viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg">
                  <path
									d="M11 12H9v-.148c0-.876.306-1.499 1-1.852.385-.195 1-.568 1-1a1.001 1.001 0 00-2 0H7c0-1.654 1.346-3 3-3s3 1 3 3-2 2.165-2 3zm-2 3h2v-2H9v2z"
									fill="#5C5F62"></path>
                  <path
									d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1116 0 8 8 0 01-16 0z"
									fill="#5C5F62"></path>
                </svg>
						</p>
					</div>
				</div>
				<div class="column text-center pt-4">
					<svg width="20px" height="20px" viewBox="0 0 16 16"
						xmlns="http://www.w3.org/2000/svg" version="1.1" fill="none"
						stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
						stroke-width="1.5">
              			<polyline points="2.75 8.75,6.25 12.25,13.25 4.75"></polyline>
            		</svg>
				</div>
			</div>
			<!--  -->
			<div class="table-row text-dark">
				<div class="column px-2">
					<div class="d-flex justify-content-between align-items-center">
						<p>Espace de stockage</p>
						<p title="Creer votre site a  votre convenance">
							<!--?xml version="1.0" encoding="utf-8"?-->
							<!-- License: MIT. Made by Shopify: https://github.com/Shopify/polaris -->
							<svg width="20px" height="20px" viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg">
                  <path
									d="M11 12H9v-.148c0-.876.306-1.499 1-1.852.385-.195 1-.568 1-1a1.001 1.001 0 00-2 0H7c0-1.654 1.346-3 3-3s3 1 3 3-2 2.165-2 3zm-2 3h2v-2H9v2z"
									fill="#5C5F62"></path>
                  <path
									d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1116 0 8 8 0 01-16 0z"
									fill="#5C5F62"></path>
                </svg>
						</p>
					</div>
				</div>
				<div class="column text-center pt-4">
					35Go
				</div>
			</div>
			
			<!--  -->
			<div class="table-row text-dark">
				<div class="column px-2">
					<div class="d-flex justify-content-between align-items-center">
						<p>Comptes clients</p>
						<p title="Creer votre site a  votre convenance">
							<!--?xml version="1.0" encoding="utf-8"?-->
							<!-- License: MIT. Made by Shopify: https://github.com/Shopify/polaris -->
							<svg width="20px" height="20px" viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg">
                  <path
									d="M11 12H9v-.148c0-.876.306-1.499 1-1.852.385-.195 1-.568 1-1a1.001 1.001 0 00-2 0H7c0-1.654 1.346-3 3-3s3 1 3 3-2 2.165-2 3zm-2 3h2v-2H9v2z"
									fill="#5C5F62"></path>
                  <path
									d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1116 0 8 8 0 01-16 0z"
									fill="#5C5F62"></path>
                </svg>
						</p>
					</div>
				</div>
				<div class="column text-center pt-4">
					<svg width="20px" height="20px" viewBox="0 0 16 16"
						xmlns="http://www.w3.org/2000/svg" version="1.1" fill="none"
						stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
						stroke-width="1.5">
              			<polyline points="2.75 8.75,6.25 12.25,13.25 4.75"></polyline>
            		</svg>
				</div>
			</div>
			<!--  -->
			<div class="table-row text-dark">
				<div class="column px-2">
					<div class="d-flex justify-content-between align-items-center">
						<p>Produits illimitées</p>
						<p title="Creer votre site a  votre convenance">
							<!--?xml version="1.0" encoding="utf-8"?-->
							<!-- License: MIT. Made by Shopify: https://github.com/Shopify/polaris -->
							<svg width="20px" height="20px" viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg">
                  <path
									d="M11 12H9v-.148c0-.876.306-1.499 1-1.852.385-.195 1-.568 1-1a1.001 1.001 0 00-2 0H7c0-1.654 1.346-3 3-3s3 1 3 3-2 2.165-2 3zm-2 3h2v-2H9v2z"
									fill="#5C5F62"></path>
                  <path
									d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1116 0 8 8 0 01-16 0z"
									fill="#5C5F62"></path>
                </svg>
						</p>
					</div>
				</div>
				<div class="column text-center pt-4">
					<svg width="20px" height="20px" viewBox="0 0 16 16"
						xmlns="http://www.w3.org/2000/svg" version="1.1" fill="none"
						stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
						stroke-width="1.5">
              			<polyline points="2.75 8.75,6.25 12.25,13.25 4.75"></polyline>
            		</svg>
				</div>
			</div>
			<!--  -->
			<div class="table-row text-dark">
				<div class="column px-2">
					<div class="d-flex justify-content-between align-items-center">
						<p>Assistance</p>
						<p title="Creer votre site a  votre convenance">
							<!--?xml version="1.0" encoding="utf-8"?-->
							<!-- License: MIT. Made by Shopify: https://github.com/Shopify/polaris -->
							<svg width="20px" height="20px" viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg">
                  <path
									d="M11 12H9v-.148c0-.876.306-1.499 1-1.852.385-.195 1-.568 1-1a1.001 1.001 0 00-2 0H7c0-1.654 1.346-3 3-3s3 1 3 3-2 2.165-2 3zm-2 3h2v-2H9v2z"
									fill="#5C5F62"></path>
                  <path
									d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1116 0 8 8 0 01-16 0z"
									fill="#5C5F62"></path>
                </svg>
						</p>
					</div>
				</div>
				<div class="column text-center pt-4">
					Standard
				</div>
			</div>
		</div>
	</div>
</div>