<div class="tabs-container">
    <ul class="justify-content-center nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="d-flex flex-column align-items-center nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
          <span class="font-weight-bold h4 mb-0">Forfaits Site internet</span>
          <span>Idéal pour présenter un site professionnel </span>
        </button>
      </li>
      <li class="nav-item d-none" role="presentation">
        <button class="d-flex flex-column align-items-center nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
          <span class="">Forfaits Business et eCommerce</span>
          <span>Essentiel pour accepter les paiements en ligne</span>
        </button>
      </li>
      <li class="nav-item d-none" role="presentation">
        <button class="d-flex flex-column align-items-center nav-link" id="contact-tab" data-toggle="tab" data-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">
          <span>Forfaits Entreprise</span>
          <span>Conçus pour les grandes entreprises</span>
        </button>
      </li>
    </ul>
  </div>